


section{
    display: flex;
    padding: 30px;
    align-content: center;
}

.carrusel-container {
  position: relative;
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin: auto;
  overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
}

.carrusel-inner {
  display: flex; /* Alinea las imágenes una al lado de la otra */
  transition: transform 0.5s ease-in-out; /* Animación de movimiento suave */
}

.carrusel-inner img {
  width: 100%;
  flex-shrink: 0; /* Evita que las imágenes se encojan */
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(43, 16, 16, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carrusel-btn.prev {
  left: 10px;
}

.carrusel-btn.next {
  right: 10px;
}

.bo{
    display: flex;
    justify-content: center;
    padding: 20px;
   
}



.suscribir {
    background: linear-gradient(to left, rgb(13, 2, 57), rgb(29, 2, 39), rgb(4, 4, 50));
}

/* imagen de fondo para el body*/

body {
    /* Elimina todas estas propiedades para que la imagen no se superponga con la sección .hero */
    background-image: url('../IMG/imagen_tecnologia.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* ... el resto de tus estilos del body ... */
}
 /*estilos de categorias destacadas*/
